<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="row">
      <p class="h2">Google Search</p>
    </div>
    <div class="row row-30">
      <div *ngIf="!google_search">
        <div class="col-md-8 col-md-offset-1">
          <input type="text" class="form-control input-lg" #googleQuery>
        </div>
        <div class="col-md-3">
          <button (click)="send_query(googleQuery.value)" type="button" class="col-md-8 col-md-offset-1 btn btn-success btn-lg">Send</button>
        </div>
      </div>
      <div *ngIf="google_search">
        <p>{{google_search}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="hide_popup()" type="button"class="col-md-1 col-md-offset-10 btn btn-secondary">Close</button>
    </div>
  </div>

</div>
