<div class="row">
  <h1 class="col-md-4">Turno de {{ player_name }}</h1>
</div>
<div class="row">
  <app-comodines class="offset-md-1 col-md-10" [comodines]='comodines' (comodinSelect)="handleComodin($event)"></app-comodines>
</div>
<div class="row">
  <app-pregunta class="col-md-12" [pregunta]='question' (answerSelect)="handleAnswer($event)" ></app-pregunta>
</div>
<div class="row">
  <button class="col-md-2 offset-md-1 btn" (click)="plantarse()">Plantarse</button>
</div>
<app-popup-google class="col-md-12" [hidden]="hidePopup" [google_search]='google_search' (close)="hide_google_popup($event)" (send)="comodin_google($event)" ></app-popup-google>
